.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  border-radius: 8px;
  border: 2px solid var(--gray-400);
  height: 7.2rem;
  background-color:var(--gray-500) ;
  margin-bottom:12px;
}

.checked{
  border: 2px solid var(--gray-500);
  background-color: var(--gray-500);
  text-decoration: line-through;
  color:var(--gray-300);
}

.checked  p{
  color:var(--gray-300);
}


.content{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.textContent{
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: var(--gray-100);
  margin-left:12px;
}

.teste{
  color:red;
  height:400;
}

.buttonDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color:var(--gray-300);
  transition:all .2s;
}

.buttonDelete:hover {
  background-color: var(--gray-400);
  border: none;
  color:var(--danger);
}

